* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: auto;
    color: #000000;
    height: 100%;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

section {
    width: 120vw;
    font-size: 28px;
    line-height: 1em;
    font-family: "Roboto";
    z-index: 1000;
}

button {
    position: relative;
    display:block;
    height: 45px;
    width: 30vh;
    margin: 10px 7px;
    margin-top: 60px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #000000;
    border: 2px #000000 solid;
    border-radius: 50px;
    box-shadow:  0px 0px 36px -16px rgb(255, 255, 255);
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
}

select {
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 8px 12px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Oswald, Helvetica, sans-serif;
    color: #000000;
}

.header {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    top: 20%;
    padding-top: 180px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 40px;
    z-index: 1;
    color: #090467;
}

.header-left span {
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #090467;
}

#background-video {
    width: 80%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: black;
    object-fit: cover;
    margin-top: 90px;
    height: 220px;
    z-index: 1;
    box-shadow:  0px 0px 20px rgba(158, 228, 184, 0.5);
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    transition: transform 0.2s ease;
}

.circle:hover {
    transform: scale(5);
}

.form-search-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 110px;
    align-items: center;
}

.search-bar {
    position: relative; 
    display: flex;
    flex-direction: column; /* Cambiado de row a column para pantallas pequeñas */
    background-color: #ffffff;
    padding: 10px 15px; /* Reducido para pantallas más pequeñas */
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(215, 215, 215, 0.5);
    font-family: Arial;
    width: 90%; /* Cambiado a un ancho más pequeño */
    max-width: 80%; /* Agregado para un máximo ancho en pantallas grandes */
    z-index: 1;
}

.search-fields {
    display: flex;
    flex-direction: column; /* Cambiado para ajustar los inputs uno debajo del otro */
    align-items: center;
    width: 100%;
}

.input-field {
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 8px 12px;
    margin-bottom: 10px; /* Ajustado para separación entre inputs */
    font-size: 16px;
    flex: 1;
    color: #001B38;
    transition: border 0.3s;
    width: 100%; /* El input ocupará todo el ancho disponible */
}

#andText {
    display: none; /* Ocultamos el texto para pantallas pequeñas */
    margin-bottom: 5px;
}

/* Media query para pantallas grandes */
@media (min-width: 768px) {
    .search-bar {
        flex-direction: row; /* Cambiamos de nuevo a row */
    }

    .search-fields {
        flex-direction: row; /* Cambiamos los inputs a disposición horizontal */
    }

    .input-field {
        margin-bottom: 0; /* Eliminamos el margen extra */
        margin-right: 10px; /* Restauramos el margen derecho */
        width: auto; /* Restauramos el ancho automático */
    }

    #andText {
        display: inline; /* Mostramos el texto de nuevo */
        margin-bottom: 0px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

.slide {
    position: relative;
    display: inline-block;
    height: 45px;
    padding: 8px 30px;
    background-color: #04004d;
    color: #ffffff;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.slide:after {
    content: "Ver trayectoria";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide:before {
    content: "Descúbrela! →";
    height: 100%;
    width: 100%;
    position: absolute;
    color: #ffffff;
    left: -100%;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide:hover {
    background: #ffffff;
}

.slide:hover:before {
    left: 0;
    opacity: 1;
    color: #000000;
}

.slide:hover:after {
    left: 100%;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.circle{
    background-color: #ffffff;    
}

.top-box {
    background-color: #eff8ff;
    width: 100%;
    height: 480px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.top-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background-color: #9ee4b8;
    z-index: 1;
    transform: rotate(-25deg);
    transform-origin: top left;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
