/* En tu archivo de estilos (Steps.css) */
.body-steps {
  margin: 0;
  padding: 0;
  background: #ffffff;
  overflow: hidden; /* Bloqueará el scroll en esta página */
  color: #000000;
  height: 100vh; /* Asegura que el contenedor ocupe todo el alto de la ventana */
}

/* Si deseas habilitar el scroll horizontal, asegúrate de que 'overflow-x' esté habilitado en algún contenedor específico, por ejemplo: */
.main-section-container {
  overflow-x: auto;
}


.wrap {
  display: flex;
  height: 100%;
  font-size: medium;
}

.block__title {
  position: relative;
  white-space: nowrap;
  transform: rotate(-90deg) translate(-50%);
  text-align: right;
  color: black;
}

.block__number,
.block__title {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.06rem;
  color: black;
  font-family: "Roboto";

}

.section {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center;
  justify-content: center;
  background-color: #fff;
  left: -200px;
}

.main-section-container {
  width: 60%;
  margin-left: 8%;
  font-family: monospace;
  font-size: 24px;
  color: black;
}

.main-job-title{
  font-size: 32px;
  color: black;
}

.blocks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.block {

  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  background: #fff;
  z-index: 100;
  padding: 2rem 1.25rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  pointer-events: auto;
  cursor: pointer;
  border-left: 0.2rem solid black;
  box-shadow:  0px 0px 20px -16px rgb(0, 0, 0);

  font-weight: 500;

  
}

.block[data-block-section="2"].init {
  left: 100%
}

.block[data-block-section="2"].fixed {
  left: 4rem;
  border-left: 0.2rem solid #ffffff;
  border-right: 0.2rem solid #ffffff;
}

.block[data-block-section="3"].init {
  left: calc(100vw);
}

.block[data-block-section="3"].fixed {
  left: 4rem;
  border-right: 0.2rem solid #ffffff;

}

.block[data-block-section="4"].init {
  left: calc(100vw);
}

.block[data-block-section="4"].fixed {
  left: 4rem;
  border-right: 0.2rem solid #ffffff;

}

.block[data-block-section="5"].init {
  left: calc(100vw);
}

.block[data-block-section="5"].fixed {
  left: 4rem;
  border-right: 0.2rem solid #ffffff;
}

.block[data-block-section="6"].init {
  left: calc(100vw);
}

.block[data-block-section="6"].fixed {
  left: 4rem;
  border-right: 0.2rem solid #ffffff;
}

.block[data-block-section="7"].init {
  left: calc(100vw);
}

.block[data-block-section="7"].fixed {
  left: 4rem;
  border-right: 0.2rem solid #ffffff;
}

.block[data-block-section="8"].init {
  left: calc(100vw);
}

.block[data-block-section="8"].fixed {
  left: 4rem;
  border-right: 0.2rem solid #ffffff;
}


.block[data-block-section="9"].init {
  left: calc(100%);
}

.block[data-block-section="9"].fixed {
  left: 4rem;
  border-right: 0.2rem solid #ffffff;
}

.navbar-steps {
  width: 4rem;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  z-index: 111;
  box-shadow:  0px 0px 20px -16px rgb(0, 0, 0.1);
}

.navbar-steps-logo {
  margin-bottom: 2rem;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  cursor: pointer;
  pointer-events: all;
  z-index: 9999999999999999;
  transition: transform 0.3s ease;
}

.navbar-steps-logo:hover {
  transform: scale(1.1); /* El botón se mueve hacia arriba */
}


.navbar-steps-download {
  margin-top: auto; /* Esto lo empuja al final de la barra */
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  cursor: pointer;
  pointer-events: all;
  z-index: 9999999999999999;
  transition: transform 0.3s ease;
}

.navbar-steps-download:hover {
  transform: translateY(-5px); /* El botón se mueve hacia arriba */
}

.logo {
  width: 3rem;
  height: auto;

}

.navbar-steps-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 0;
}

.navbar-steps-menu li {
  width: 100%;
  text-align: center;
}

.navbar-steps-menu li a {
  display: block;
  color: #eff8ff;
  padding: 1rem 0;
  text-decoration: none;
  font-size: 0.9rem;
}

.navbar-steps-menu li a:hover {
  background-color: #25D366;
}

.content {
  margin-right: 4rem; /* Para evitar que el contenido se superponga a la navbar-steps */
  padding: 2rem;
  background-color: #eff8ff;
  color: #04004d;
}


/* Job card Styles */ 

.job-card-container {
  display: flex;
  gap: 20px; /* Espacio entre las tarjetas */
  overflow-x: auto; /* Permite scroll horizontal si hay muchas tarjetas */
}

.job-card {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #04004d;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-decoration: none;
  display: block;
}
.job-card:hover {
  transform: translateZ(-5px);
}
.job-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #25D366;
}
.job-company {
  font-size: 18px;
  margin-bottom: 10px;
  color: #04004d;
}
.job-description {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.4;
}
.job-location {
  font-size: 14px;
  color: #04004d;
  display: flex;
  align-items: center;
}
.job-location::before {
  content: "📍";
  margin-right: 5px;
}

/* course card */ 

.course-card-container {
  display: flex;
  gap: 20px; /* Espacio entre las tarjetas */
  overflow-x: auto; /* Permite scroll horizontal si hay muchas tarjetas */
}

.course-card {
  background-color: #fff;
  color: black;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.course-card:hover {
  transform: translateZ(-5px);
}
.course-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #25D366;
}
.course-description {
  font-size: 12px;
  line-height: 1.4;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}