
  .cnt1 {
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .cnt2 {
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  #main-loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: black;
    z-index: 99;
    text-align: center;
  }
  .loader-parent {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
  }
  
  .loader-left {
    width: 30%;
    height: 100%;
    display: inline-block;
  }
  .loader-right {
    width: 49%;
    height: 100%;
    display: inline-block;
  }
  
  /* loader */
  
  #loader {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    border-right: 2px solid rgb(68, 68, 68);
  }
  #loader svg {
    width: 60%;
    height: 60%;
    margin-top: 10%;
  }
  .triangle {
    stroke-dasharray: 17;
    animation: dash 3s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
  }
  .loading {
    font-family: "Oswald", sans-serif;
    font-size: 6px;
    font-stretch: expanded;
    animation: blink 2s ease-in-out infinite alternate;
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
  .loader-hints {
    width: 70%;
    margin-right: 5%;
    display: inline-block;
  }
  
  .hints {
    width: 100%;
    text-align: left;
  }
  
  .hint-title {
    width: 100%;
    height: max-content;
    text-align: left;
    border-bottom: 1px solid rgb(112, 112, 112);
    padding-bottom: 3%;
  }
  .hint-title h3 {
    font-family: "roboto";
    font-size: 2.7vw;
    font-weight: bolder;
    color: rgb(255, 255, 255);
  }
  .hint-description {
    width: 100%;
    height: 15vh;
    text-align: left;
  }
  .hint-description p {
    font-size: 1.2vw;
    font-family:"Roboto";
    line-height: 3vw;
    color: white;
    margin-top: 2%;
    letter-spacing: 0.8px;
  }
  
  .hint-text:nth-child(1) {
    display: block;
  }
  .hint-text {
    display: none;
  }
  .visible {
    display: block;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: -136;
    }
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  