.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    font-family: oswald, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 100px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.site-logo {
    position: fixed;
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    gap: 1px;
    color: #000000;
}

.logo-icon {
    width: 70px;
    height: auto;
    margin-right: 2px;
    vertical-align: middle;
    cursor: pointer;
}

.site-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.menu-item {
    margin-left: 60px;
    color: #000000;
}

.bold-text {
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}

.normal-text {
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}

.site-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.register-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #9EE4B8;
    color: #001B38;
    padding: 10px 12px;
    width: 200px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 60px;
    text-align: center;
    font-family: Oswald, Helvetica, sans-serif;
    letter-spacing: 0.9px;
}

.button-icon {
    width: 20px;
    height: 20px;
}

.register-button:hover {
    background-color: #82c8a0;
}

.magneto-logo {
    position: absolute;
    transform: translateX(-90%) translateY(-10%);
    height: 300px;
    width: auto;
    vertical-align: middle;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.menu-toggle {
    position: absolute;
    right: 40px;
    transform: translateY(-50%);
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    width: auto;
}

.button-toggle {
    position: relative;
    display:block;
    height: 45px;
    width: 20%;
    margin: 10px 7px;
    margin-top: 60px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #000000;
    border: 2px #000000 solid;
    border-radius: 50px;
    box-shadow:  0px 0px 36px -16px rgb(255, 255, 255);
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
}

@media (max-width: 1200px) {
    .site-menu, .magneto-logo {
        display: none;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 40px;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        top: 80px;
        right: 40px;
        z-index: 1000;
        width: auto;
        animation: fadeIn1 0.3s ease-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .mobile-menu .register-button {
        width: auto;
        text-align: center;
        padding: 12px 20px;
        border-radius: 5px;
        background-color: #9EE4B8;
        color: #001B38;
        margin-bottom: 4px;
        margin-top: 4px;
        transition: background-color 0.3s ease;
    }

    .mobile-menu .register-button:hover {
        background-color: #82c8a0;
    }

    .mobile-menu .auth-buttons {
        display: grid;
        margin-right: 4px;
    }

    .site-logo {
        left: 50%;
        margin-left: 0px;
        transform: translateX(-50%);
        font-size: 32px;
    }
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
